<div class="profitContainer">
  <div class="profitCard">
    <div class="profitSquare d-flex flex-column">
      <ul>
        <li>
          <span
            ><strong>Oportunidades de Inversión diversificadas</strong> para la
            selección del cliente.</span
          >
        </li>
        <li>
          <span
            ><strong>Rentabilidad atractiva</strong> superior al sistema
            financiero tradicional.</span
          >
        </li>
        <li>
          <span
            ><strong>Asesoría y atención personalizada</strong> por ejecutivas
            de Relaciones.</span
          >
        </li>
        <li>
          <span
            ><strong>Transparencia</strong> en el destino de sus
            inversiones.</span
          >
        </li>
        <li>
          <span
            ><strong>Incluye tarjeta al Club Multiplolenders</strong> exclusiva
            para nuestros inversionistas.</span
          >
        </li>
        <li>
          <span
            ><strong>Seguimiento periódico</strong> y retroalimentación de
            indicadores financieros.</span
          >
        </li>
        <li>
          <span
            ><strong>Consulta online de Inversiones vigentes</strong> en su
            portal web.</span
          >
        </li>
      </ul>
      <!-- BUTTON Invierte -->
      <div class="btn-container">
        <button class="btn btn-steps-invierte">Invierte</button>
        <div class="btn-border"></div>
      </div>
    </div>
  </div>
</div>
