.title-container {
  position: relative;
  min-height: 14vw;
  top: 8vw;
}

.title-background {
  width: 66%;
  max-width: 800px;
  min-height: 69px;
  position: absolute;
  right: 0px;
}

.title {
  position: absolute;
  color: white;
  top: 1.2vw;
  right: 10vw;
}



.profit-container {
  position: relative;
  height: 66vw;
  min-height: 160px;
  max-height: 550px;
}

.profit-background {
  width: 90%;
  max-width: 600px;
  min-width: 180px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.profit-list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 500px;
  padding: 0;
  margin: 0;
}

.profit-list li {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.check-profit {
  width: 23px;
  margin-right: 0.5rem;
}

.image-background {
  position: absolute;
  left: -159px;
  width: 100%;
  bottom: -5px;
  z-index: -3;
}

.image-background img {
  width: 100%;
}

/* Resolucion desktop */
@media (max-width: 1100px) {
  .title-container {
    min-height: 10vw;
    top: 5vw;
  }

  .title-background {
    min-width: 60vw;
  }

  .title {
    top: 0.5vw;
    right: 15vw;
    font-size: 3vw;
  }

  .profit-list {
    width: 55%;
    min-width: 430px;
    left: 50%;
  }

  .profit-list li {
    margin: 0;
    margin-bottom: min(0.5rem, 1rem);
    font-size: min(max(11px, 2vw), 17px);
  }

  .profit-background {
    left: 50%;
  }

  .image-background {
    display: none;
  }

  /*
  .profitSquare {
    padding: 20px;
    border-radius: 5px;
    border-color: linear-gradient(to right, #0caae3 0%, #004889 100%);
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 5px 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profitCard {
    position: relative;
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
    width: 20vw;
    border-radius: 5px;
    box-shadow: 4px 5px 10px #ccc;
    margin-left: 500px;
  }

  .profitContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-image: url();
  }

  .btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    position: relative;
  }

  .btn-steps-invierte {
    color: white;
    background-color: #004889;
    font-weight: 600;
    font-size: 15px;
    padding: 0.3rem 2.5rem;
    z-index: 10;
    font-family: 'Gill Sans MT';
    letter-spacing: 0.1rem;
  }

  .btn-steps-invierte:hover {
    background-color: #223262;
    cursor: pointer;
  }

  .btn-border {
    background-color: transparent;
    border: 1px solid #000000;
    position: absolute;
    width: 141px;
    height: 35px;
    top: 4px;
    border-radius: 3px;
    left: calc(50% - 4px);
    transform: translate(-50%, 0);
  }
*/
}

/* Resolucion Mobile */
@media (max-width: 480px) {

  .title-background {
    min-height: 30px;
  }

  .title {
    right: 3vw;
    font-size: 4vw;
  }

  .profit-list {
    width: 70%;
    min-width: auto;
    left: 50%;
  }

  .profit-background {
    left: 50%;
  }

  .profit-list li {
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 2.3vw;
  }

  .check-profit {
    width: 15px;
    margin-right: 0.3rem;
  }

  /*
  .profitContainer {
    width: 100vw;
  }

  .profitCard {
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 10px #ccc;
  }

  .profitSquare {
    padding: 20px;
    border-radius: 5px;
    border-color: linear-gradient(to right, #0caae3 0%, #004889 100%);
    border-width: 1px;
    border-style: solid;
    box-shadow: 4px 5px 10px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profitSquare>ul {
    padding: 0px;
    list-style: none;
  }

  .profitSquare>ul>li {
    margin: 10px 0;
    line-height: 20px;
  }

  .profitSquare>ul>li>span {
    font-size: 0.9rem;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    position: relative;
  }

  .btn-steps-invierte {
    color: white;
    background-color: #004889;
    font-weight: 600;
    font-size: 15px;
    padding: 0.3rem 2.5rem;
    z-index: 10;
    font-family: 'Gill Sans MT';
    letter-spacing: 0.1rem;
  }

  .btn-steps-invierte:hover {
    background-color: #223262;
    cursor: pointer;
  }

  .btn-border {
    background-color: transparent;
    border: 1px solid #000000;
    position: absolute;
    width: 141px;
    height: 35px;
    top: 4px;
    border-radius: 3px;
    left: calc(50% - 4px);
    transform: translate(-50%, 0);
  }
  */
}
