    <!-- MOBILE VIDEO -->

    <div class="video-container">
      <video class="video-mobile" width="100%" autoplay [muted]="'muted'" loop>
        <source src="../../assets/video/video-mobile.webm" type="video/webm"/>
      </video>
      <!-- DESKTOP VIDEO -->
      <video class="video-desktop" width="100%" autoplay [muted]="'muted'" loop>
        <source src="../../assets/video/video-desktop.webm" type="video/webm"/>
      </video>

      <!-- SEPARATOR VIDEO -->
      <div class="image-separator">
        <img src="../../../assets/landing/pie_video.svg" alt="">
      </div>

    </div>

    <!-- BUTTON REGISTER -->
    <div class="btn-container">
      <button class="btn btn-home-register">Regístrate</button>
      <div class="btn-border"></div>
    </div>