<div>

    <!-- MOBILE VIDEO -->
    <video class="video-mobile" width="100%" autoplay="true" preload="auto" loop muted>
      <source src="../../assets/INTRO-MOVIL.mp4" type="video/mp4"/>
    </video>

    <!-- DESKTOP VIDEO -->
    <video class="video-desktop" width="100%" autoplay="true" preload="auto" loop muted>
      <source src="../../assets/video-desktop.mp4" type="video/mp4"/>
    </video>

    <!-- BUTTON REGISTER -->
    <div class="btn-container">
      <button class="btn btn-home-register">Regístrate</button>
      <div class="btn-border"></div>
    </div>

</div>
