<div class="container w-100">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <!--div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div-->
    <video src="../../assets/INTRO-MOVIL.mp4" autoplay="true" muted class="homeVideo"  type="video/mp4" >
    </video>
    <div class="position-absolute btnFather">
      <div class="btnChild">
        <button class="btn btn-primary registerBTN fw-bold">Regístrate</button>
        <div class="borderBTN">Registrate</div>
      </div>
    </div>
  </div>
</div>
