<app-contacto></app-contacto>

<footer class="bg-color-primary-500">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-lg-3 d-flex align-items-center flex-column justify-content-end"
      >
        <img src="../../../assets/images/logo-footer.png" width="150px" />
        <p class="text-white">Multiplicamos ganancias a tu vida</p>
      </div>
      <!-- Links -->
      <div class="col-6 col-lg-3 align-items-center d-flex justify-content-center">
        <ul class="list-unstyled mb-0">
          <li class="mb-1 text-white text-decoration-none"  data-bs-toggle="modal" data-bs-target="#contactoModal" style="cursor: pointer;">
            Quiero INVERTIR
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >Manual del INVERSOR</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-white text-decoration-none"
              >Quiero FINANCIAR MI EMPRESA</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >MúltiploLenders Club</a
            >
          </li>
        </ul>
      </div>
      <!-- Form y otros -->
      <div class="col-6 col-lg-3 align-items-center d-flex justify-content-center">
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >General</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-white text-decoration-none"
              >Formulario de Atención</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >Términos y Condiciones</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-white text-decoration-none"
              >Pólitica y Privacidad</a
            >
          </li>
        </ul>
      </div>
      <!-- Contactanos y Redes -->
      <div
        class="col-12 col-lg-3 d-flex justify-content-center flex-lg-wrap contactos"
      >
        <div class="contact">
          <h5 class="text-primary-100">Contactanos</h5>
          <div class="d-flex flex-column">
            <ul class="list-unstyled">
              <li class="text-white text-decoration-none">
                <img
                  src="../../../assets/images/iconos/ubicacion.png"
                  width="16px"
                  class="me-2"
                /><a>Edificio Skybuilding</a>
              </li>
              <li class="text-white text-decoration-none">
                <img
                  src="../../../assets/images/iconos/cell.png"
                  width="16px"
                  class="me-2"
                /><a>(593) 4 602 2706</a>
              </li>
              <li
                class="text-white text-decoration-none d-flex justify-content-between align-items-center"
              >
                <img
                  src="../../../assets/images/iconos/letter.png"
                  width="16px"
                  class="me-2"
                />
                <a class="email text-white" style="text-decoration: none;">servicioalcliente@multiplolenders.com</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Redes sociales-->
        <div class="social-media d-flex align-items-center flex-column">
          <h5 class="text-primary-100 text-center">
            Siguenos en nuestras redes
          </h5>
          <ul class="list-unstyled d-flex justify-content-center justify-content-lg-between" style="width: 100%;">
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/In.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/FB.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/IG.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/YouTube.png"
                class="social-media-icon"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--div class="firstFooter">
  <div class="firstFooterContainer">
    <div class="footerLogo">
      <img src="../../../assets/images/logo-footer.png" width="150px" />
      <p class="footerLogoText">Multiplicamos ganancias a tu vida</p>
    </div>
    <div class="footerLinks">
      <ul class="linksBox">
        <li style="color: white"><span>Quiero INVERTIR</span></li>
        <li style="color: #0caae3"><span>Manual del INVERSOR</span></li>
        <li style="color: white"><span>Quiero FINANCIAR MI EMPRESA</span></li>
        <li style="color: #0caae3"><span>MúltiploLenders Club</span></li>
      </ul>
      <ul class="linksBox linkBoxRight">
        <li style="color: #0caae3"><span>General</span></li>
        <li style="color: white"><span>Formulario de Atención</span></li>
        <li style="color: #0caae3"><span>Términos y Condiciones</span></li>
        <li style="color: white"><span>Pólitica y Privacidad</span></li>
      </ul>
    </div-->
<!--div class="footerContact">
      <div class="footerContactContent">
        <span class="contactTitle">Contáctanos</span>
        <ul>
          <li>Edificio Skybuilding</li>
          <li>(593) 4 602 2706</li>
          <li>servicioalcliente@multiplolenders.com</li>
        </ul>
      </div>
      <div class="footerContactContent">
        <div style="display: flex; justify-content: center">
          <span class="contactTitle followUs">Síguenos en nuestras redes</span>
        </div>
        <ul class="footerContactDirections">
          <li><img src="../../../assets/images/iconos/In.png" /></li>
          <li><img src="../../../assets/images/iconos/FB.png" /></li>
          <li><img src="../../../assets/images/iconos/IG.png" /></li>
          <li><img src="../../../assets/images/iconos/YouTube.png" /></li>
        </ul>
      </div>
    </div>
  </div>
</div-->
