<div class="firstFooter">
  <div class="firstFooterContainer">
    <div class="footerLogo">
      <img src="../../../assets/images/logo-footer.png" width="150px" />
      <p class="footerLogoText">Multiplicamos ganancias a tu vida</p>
    </div>
    <div class="footerLinks">
      <ul class="linksBox">
        <li style="color: white"><span>Quiero INVERTIR</span></li>
        <li style="color: #0caae3"><span>Manual del INVERSOR</span></li>
        <li style="color: white"><span>Quiero FINANCIAR MI EMPRESA</span></li>
        <li style="color: #0caae3"><span>MúltiploLenders Club</span></li>
      </ul>
      <ul class="linksBox linkBoxRight">
        <li style="color: #0caae3"><span>General</span></li>
        <li style="color: white"><span>Formulario de Atención</span></li>
        <li style="color: #0caae3"><span>Términos y Condiciones</span></li>
        <li style="color: white"><span>Pólitica y Privacidad</span></li>
      </ul>
    </div>
    <!--div class="footerContact">
      <div class="footerContactContent">
        <span class="contactTitle">Contáctanos</span>
        <ul>
          <li>Edificio Skybuilding</li>
          <li>(593) 4 602 2706</li>
          <li>servicioalcliente@multiplolenders.com</li>
        </ul>
      </div>
      <div class="footerContactContent">
        <div style="display: flex; justify-content: center">
          <span class="contactTitle followUs">Síguenos en nuestras redes</span>
        </div>
        <ul class="footerContactDirections">
          <li><img src="../../../assets/images/iconos/In.png" /></li>
          <li><img src="../../../assets/images/iconos/FB.png" /></li>
          <li><img src="../../../assets/images/iconos/IG.png" /></li>
          <li><img src="../../../assets/images/iconos/YouTube.png" /></li>
        </ul>
      </div>
    </div-->
  </div>
</div>
