<footer class="bg-color-primary-500">
  <div class="container">
    <div class="row">
      <div
        class="col-12 col-lg-3 d-flex align-items-center flex-column justify-content-end mb-5"
      >
        <img src="../../../assets/images/logo-footer.png" width="150px" />
        <p class="text-white" style="font-size: 12px; margin-bottom: 0px">Multiplicamos ganancias a tu vida</p>
      </div>
      <!-- Links -->
      <div class="col-6 col-lg-3 align-items-center d-flex justify-content-center">
        <ul class="list-unstyled mb-0">
          <li class="mb-1 text-white text-decoration-none">
            Quiero INVERTIR
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >Manual del INVERSOR</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-white text-decoration-none">
              Quiero FINANCIAR MI EMPRESA
            </a>
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >MúltiploLenders Club</a
            >
          </li>
        </ul>
      </div>
      <!-- Form y otros -->
      <div class="col-6 col-lg-3 align-items-center d-flex justify-content-center">
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >General</a
            >
          </li>
          <li class="mb-1" data-bs-toggle="modal" data-bs-target="#contactoModal" style="cursor: pointer;">
            <a href="#!" class="text-white text-decoration-none"
              >Formulario de Atención</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-primary-100 text-decoration-none"
              >Términos y Condiciones</a
            >
          </li>
          <li class="mb-1">
            <a href="#!" class="text-white text-decoration-none"
              >Pólitica y Privacidad</a
            >
          </li>
        </ul>
      </div>
      <!-- Contactanos y Redes -->
      <div
        class="col-12 col-lg-3 d-flex justify-content-center flex-lg-wrap contactos"
      >
        <div class="contact" style="width: 100%;">
          <h5 class="text-primary-100">Contactanos</h5>
          <div class="d-flex flex-column">
            <ul class="list-unstyled mb-0">
              <li class="text-white text-decoration-none"
              style="font-size: 0.8rem;">
                <img
                  src="../../../assets/images/iconos/ubicacion.png"
                  width="16px"
                  class="me-2"
                /><a>Edificio Skybuilding</a>
              </li>
              <li class="text-white text-decoration-none"
              style="font-size: 0.8rem;">
                <img
                  src="../../../assets/images/iconos/cell.png"
                  width="16px"
                  class="me-2"
                /><a>(593) 4 602 2706</a>
              </li>
              <li
                class="text-white text-decoration-none"
                style="font-size: 0.8rem;"
              >
                <img
                  src="../../../assets/images/iconos/letter.png"
                  width="16px"
                  class="me-2"
                />
                <a class="text-white" style="text-decoration: none;">servicioalcliente@multiplolenders.com</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Redes sociales-->
        <div class="social-media d-flex align-items-center flex-column">
          <h5 class="text-primary-100 text-center">
            Siguenos en nuestras redes
          </h5>
          <ul class="list-unstyled d-flex justify-content-center justify-content-lg-between" style="width: 100%;">
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/In.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/FB.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/IG.png"
                class="social-media-icon"
              />
            </li>
            <li class="text-white text-decoration-none">
              <img
                src="../../../assets/images/iconos/YouTube.png"
                class="social-media-icon"
              />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<app-contacto></app-contacto>
