.nav-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 3%, rgba(12, 170, 227, 1) 47%, rgba(49, 118, 186, 1) 70%, rgba(4, 96, 167, 1) 83%, rgba(0, 72, 137, 1) 100%);
}

.logo-img {
  height: 32px;
}

.sections-container {
    display: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    position: absolute;
    padding: 1rem;
    top: 53px;
    right: 0px;
    list-style: none;
  }

  .sections-container li{
      padding-bottom: 1rem;
  }

/* Responsive Mobile */
@media (max-width: 355px) {
  .dot-menu:after {
    content: '\2807';
    font-size: 35px;
    color: white;
  }
}

.hide-menu {
  display: none;
}

.show-menu {
  display: block;
}
