<nav class="nav-element">
  <!-- LOGO -->
  <a class="logo-container" href="#">
    <img
      src="../../../../assets/images/iconos/logo-multiplo.png"
      class="logo-img"
    />
  </a>

  <!-- Mobile Menu -->
  <div
    class="dot-menu"
    id="dot-menu"
    (click)="onClickMenu($event, (showMenu = !showMenu))"
  >
    <div class="sections-container" id="menuMobile">
      <ul>
        <li><a href="#inicio" style="color: #223262"> Inicio </a></li>
        <li><a href="#aboutUs">Quienes somos</a></li>
        <li><a href="#choise-oportunity">Invierte</a></li>
        <li><a href="#solicite">Solicitar financiamiento</a></li>
        <li><a href="#singIn">Iniciar Sesión</a></li>
        <li class="bg-color-secondary-300 text-white btn btn-warning fw-bold">
          Regístrate
        </li>
      </ul>
      <img
        src="../../../../assets/images/iconos/mobile-menu-background.svg"
        class="navbarIMG"
      />
    </div>
  </div>

  <ul class="navbar-desktop" id="menuDesktop">
    <li><a href="#inicio"> Inicio </a></li>
    <li><a href="#aboutUs">Quienes somos</a></li>
    <li><a href="#choise-oportunity">Invierte</a></li>
    <li><a href="#solicite">Solicitar financiamiento</a></li>
    <li><a href="#singIn">Iniciar Sesión</a></li>
    <li class="bg-color-secondary-300 btnRegister" style="border-radius: 5px; padding: 0.5rem;">
      Regístrate
    </li>
  </ul>
</nav>
