.hide-menu {
  display: none !important;
}

.show-menu {
  display: block !important;
}

.nav-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 3%, rgba(12, 170, 227, 1) 47%, rgba(49, 118, 186, 1) 70%, rgba(4, 96, 167, 1) 83%, rgba(0, 72, 137, 1) 100%);
}

.navbarIMG {
  top: -1px;
  position: absolute;
  left: 7px;
  z-index: -1;
  width: 195px;
  height: 276px;
}


.sections-container {
  display: none;
  background-color: white;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  right: 5px;
  width: 200px;
  height: 270px;
  z-index: 10;
}

.sections-container>ul {
  list-style: none;
  padding: 0;
  margin-left: 27px;
  margin-top: 34px;
}

.sections-container>ul>li {
  margin: 10px 0;
}



.sections-container>ul>li>a {
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.navbar-desktop {
  list-style: none;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0;
}

.navbar-desktop>li>a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}


.navbar-desktop li {
  margin: 0.5rem;
  font-weight: 700;
}

.navbar-desktop li a:hover {
  color: rgb(197, 197, 197);
  cursor: pointer;
  transition: color 0.2s;
}

.btnRegister:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 0.4s;
}

.nav-element {
  padding: 0 3vw;
}

.logo-img {
  height: 130px;
}

/* Responsive Mobile */
@media (max-width: 480px) {
  .dot-menu:after {
    content: '\2807';
    font-size: 35px;
    color: white;
  }

  .navbar-desktop {
    display: none;
  }
  .nav-element {
    padding: 0;
  }

  .logo-img {
    height: 100px;
  }
}

@media (max-width: 900px) {
  .navbar-desktop {
    font-size: 1.5vw;
    padding-left: 0;
  }
  .nav-element {
    padding: 0;
  }
}

@media (max-width:1100px) {
  .nav-element {
    padding: 0 1vw;
  }


}
