<nav class="navbar">
  <div class="navbar-container">
    <a class="logo-container" href="#">
      <img src="../../../../assets/ICONOS/multiplo-color-logo.png" class="logo-img">
    </a>

    <div class="sections container">
        <ul>
            <li>Inicio</li>
            <li>Quienes somos</li>
            <li>Invierte</li>
            <li>Solicitar financiamiento</li>
            <li>Iniciar Sesion</li>
            <li class="btn btn-warning">Registrate</li>
        </ul>

    </div>
  </div>
</nav>
