<div class="howToInvestFather">
  <div class="calculateYourGain">
    <div class="multiploPerformance">
      <div class="square">
        <img
          src="../../../assets/images/logo.png"
          class="multiploLogo"
          alt="multiploLogo"
        />
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #004889">10%</div>
          </li>
          <li class="performanceItem">
            <span class="ms-4">Interés ganado </span>
            <div class="amountBoxDown" style="color: #004889">$00000</div>
          </li>
        </ul>
        <div class="totalBox" style="background-color: #004889">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
    <div class="savingPerformance">
      <div class="square">
        <div class="savingTitle">
          <h5 class="fw-bold m-0">Ahorro</h5>
          <img
            src="../../../assets/images/iconos/ahorro.png"
            class="savingLogo"
            alt="ahorro"
          />
        </div>
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #e06222">0.275%</div>
          </li>
          <li class="performanceItem">
            <span class="ms-4">Interés ganado </span>
            <div class="amountBoxDown" style="color: #e06222">$00000</div>
          </li>
        </ul>
        <div class="totalBox"  style="background-color: #e06222">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
  </div>
  <div class="calculateYourProfit">
    <div class="multiploPerformance">
      <div class="square">
        <img
          src="../../../assets/images/logo.png"
          class="multiploLogo"
          alt="multiploLogo"
        />
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #004889">10%</div>
          </li>
          <li class="performanceItem">
            <span class="interes">Interés ganado </span>
            <div class="amountBoxDown" style="color: #004889">$00000</div>
          </li>
        </ul>
        <div class="totalBox" style="background-color: #004889">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
    <div class="savingPerformance">
      <div class="square">
        <div class="savingTitle">
          <h5 class="fw-bold m-0 sahorroTitle">Ahorro</h5>
          <img
            src="../../../assets/images/iconos/ahorro.png"
            class="savingLogo"
            alt="ahorro"
          />
        </div>
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #e06222">0.275%</div>
          </li>
          <li class="performanceItem">
            <span class="interes">Interés ganado </span>
            <div class="amountBoxDown" style="color: #e06222">$00000</div>
          </li>
        </ul>
        <div class="totalBox"  style="background-color: #e06222">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
  </div>
</div>
