.howToInvestFather{
    width: 100vw;
}
@media (max-width:480px){
    .calculateYourProfit{
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .multiploPerformance{
        background-color: #f5f5f5;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        width: 50%;
        box-shadow: 4px 5px 10px #ccc;
    }
    .savingPerformance{
        background-color: #f5f5f5;
        width: 50%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 4px 5px 10px #ccc;
    }
    .square{
        padding: 20px 10px;
        border-radius: 5px;
        border-color: linear-gradient(to right, #0caae3 0%,#004889 100%);
        border-width: 1px;
        border-style: solid;
        box-shadow: 4px 5px 10px #ccc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .multiploLogo{
        width: 20vw;
    }
    .savingLogo{
        width: 5vw;
    }

    .square > span {
        font-size: 0.9rem;
    }
    .savingTitle{
        display: flex;
        align-items: center;
    }

    .performanceItem{
        display: flex;
        width: 100%;
        font-size: 0.7rem;
    }
}