<div class="howToInvestFather">
  <div class="calculateYourProfit">
    <div class="multiploPerformance">
      <div class="square">
        <img
          src="../../../assets/images/logo.png"
          class="multiploLogo"
          alt="multiploLogo"
        />
        <ul class="list-unstyled">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div>10%</div>
          </li>
          <li class="performanceItem">
            <span>Interés ganado </span>
            <div>$00000</div>
          </li>
        </ul>
        <div>
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
    <div class="savingPerformance">
      <div class="square">
        <div class="savingTitle">
          <h5 class="fw-bold m-0">Ahorro</h5>
          <img
            src="../../../assets/images/iconos/ahorro.png"
            class="savingLogo"
            alt="ahorro"
          />
        </div>
        <ul class="list-unstyled">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div>10%</div>
          </li>
          <li class="performanceItem">
            <span>Interés ganado </span>
            <div>$00000</div>
          </li>
        </ul>
        <div>
          <span>Total $0000000</span>
        </div>
      </div>
    </div>        
  </div>
</div>
