<div style="width: 100%; margin-top: 9rem;">
  <div class="d-flex flex-wrap justify-content-evenly" style="width: 40%; margin: auto;">
    <img src="../../../assets/images/cards/left-card.svg" style="    width: 35%;
    max-width: 450px;
    min-width: 300px;
    margin: 1rem;" alt="">
    <img src="../../../assets/images/cards/left-card.svg" style="    width: 35%;
    max-width: 450px;
    min-width: 300px;
    margin: 1rem;" alt="">
  </div>
</div>

<div style="width: 70%; margin: auto; background-color: darkgrey; overflow: hidden;">{{projects[0] | json}}</div>
<br>
<div style="width: 70%; margin: auto; background-color: darkgrey; overflow: hidden;">{{projects[1] | json}}</div>
<div class="howToInvestFather">
  <!--div class="calculateYourGain">
    <div class="multiploPerformance">
      <div class="square">
        <img
          src="../../../assets/images/logo.png"
          class="multiploLogo"
          alt="multiploLogo"
          style="max-width: 100px;"
        />
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #004889">10%</div>
          </li>
          <li class="performanceItem">
            <span class="ms-4">Interés ganado </span>
            <div class="amountBoxDown" style="color: #004889">$00000</div>
          </li>
        </ul>
        <div class="totalBox" style="background-color: #004889">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
    <div class="savingPerformance">
      <div class="square">
        <div class="savingTitle">
          <h5 class="fw-bold m-0">Ahorro</h5>
          <img
            src="../../../assets/images/iconos/ahorro.png"
            class="savingLogo"
            alt="ahorro"
            style="max-width: 100px;"
          />
        </div>
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #e06222">0.275%</div>
          </li>
          <li class="performanceItem">
            <span class="ms-4">Interés ganado </span>
            <div class="amountBoxDown" style="color: #e06222">$00000</div>
          </li>
        </ul>
        <div class="totalBox"  style="background-color: #e06222">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
  </div-->
  <div class="calculateYourProfit">
    <div class="multiploPerformance">
      <div class="square">
        <img
          src="../../../assets/images/logo.png"
          class="multiploLogo"
          alt="multiploLogo"
          style="max-width: 100px;"
        />
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #004889">10%</div>
          </li>
          <li class="performanceItem">
            <span class="interes">Interés ganado </span>
            <div class="amountBoxDown" style="color: #004889">$00000</div>
          </li>
        </ul>
        <div class="totalBox" style="background-color: #004889">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
    <div class="savingPerformance">
      <div class="square">
        <div class="savingTitle">
          <h5 class="fw-bold m-0 sahorroTitle">Ahorro</h5>
          <img
            src="../../../assets/images/iconos/ahorro.png"
            class="savingLogo"
            alt="ahorro"
            style="max-width: 100px;"
          />
        </div>
        <ul class="list-unstyled m-0">
          <li class="performanceItem">
            <span>Rendimiento anual promedio </span>
            <div class="amountBoxUp" style="color: #e06222">0.275%</div>
          </li>
          <li class="performanceItem">
            <span class="interes">Interés ganado </span>
            <div class="amountBoxDown" style="color: #e06222">$00000</div>
          </li>
        </ul>
        <div class="totalBox"  style="background-color: #e06222">
          <span>Total $0000000</span>
        </div>
      </div>
    </div>
  </div>
</div>
