<section class="about-us-section" id="aboutUs">

  <div class="background-1" style="position: relative;">
    <img src="../../../assets/landing/backgroud-top.png" style="    position: absolute; top: -23rem;" alt="">
  </div>

  <!-- TITLE -->
  <div class="title-container">
    <img src="../../../assets/landing/separador1.png" alt="¿Quienes somos?" loading="lazy" class="title-background">
    <h2 class="title">¿Quienes somos?</h2>
  </div>

  <!-- Video and Logo -->
  <div class="video-logo-container">
    <div class="video-container">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/ZNMRxPN2_OU" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>

    <div class="logo-container">
      <img src="../../../assets/landing/icono-multiplo.png" alt="Multiplo" loading="lazy" class="multiplo-logo">
    </div>
  </div>

  <!-- Title 2 -->
  <div class="title-2-container">
    <img src="../../../assets/landing/separador-white-space.png"
      alt="Somos la plataforma lider de financiamiento colectivo" loading="lazy" class="title-2-background">
    <div class="span-container-title-2">
      <span class="">Somos la plataforma lider de <br><strong>Financiamiento colectivo</strong> </span>
    </div>
    <div class="subtitle-2-container">
      <span class="">Llegamos a Ecuador para <strong>multiplicar ganancias</strong> <br>a la vida de todos</span>
    </div>
  </div>

  <!-- STEPS -->
  <div class="steps-container">

    <div class="steps-group">
      <!-- STEP 1 -->
      <div class="step step-1">
        <img src="../../../assets/landing/step-1.png" alt="">
        <span class="number">1</span>
        <span class="title-step" style="color: #EA6126;">Nuestra Plataforma evalúa</span>
        <span class="description-step">
          solicitudes de financiamiento de empresas con trayectoria suficiente, que cuentan con desempeño y solvencia
          adecuada.
        </span>
      </div>

      <!-- STEP 2 -->
      <div class="step step-2">
        <img src="../../../assets/landing/step-2.png" alt="">
        <span class="number">2</span>
        <span class="title-step" style="color: #223262;">Publica las “Oportunidades Aprobadas”</span>
        <span class="description-step">
          así como nuestros MultiploLenders se registran, seleccionan su inversión.
        </span>
      </div>

      <!-- STEP 3 -->
      <div class="step step-3">
        <img src="../../../assets/landing/step-1.png" alt="">
        <span class="number">3</span>
        <span class="title-step" style="color: #EA6126;">Recibe un retorno</span>
        <span class="description-step">
          Invierte con un retorno de del 9% al 13% anual, con un plazo indicado para el reembolso de su capital.
        </span>
      </div>

      <!-- BUTTON Invierte -->
        <div class="btn-container">
          <button class="btn btn-steps-invierte">Invierte</button>
          <div class="btn-border"></div>
        </div>
    </div>

    <div class="image-group-container">
      <img src="../../../assets/images/abutUs-group.png" alt="">
    </div>

  </div>

</section>


<!--div class="about-us-container">
  <div class="circle-background"></div>
  <div class="title-container">
    <div class="title-about-us">
      <h2 class="title">¿Quienes somos?</h2>
    </div>
  </div>
</div>

<div class="video-logo-container">
    <div class="video-container">
      <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/ZNMRxPN2_OU" title="YouTube video" allowfullscreen></iframe>
        </div>
    </div>

    <div class="logo-container">
        <h1>LOGO</h1>
    </div>

</div-->
