<section class="about-us-section" id="aboutUs">

  <div class="circle-background"></div>

  <!-- TITLE -->
  <div class="title-container">
    <img src="../../../assets/landing/separador1.png" alt="¿Quienes somos?" loading="lazy" class="title-background">
    <h2 class="title">¿Quienes somos?</h2>
  </div>

  <!-- Video and Logo -->
  <div class="video-logo-container">
    <div class="video-container">
      <div class="ratio ratio-16x9">
        <iframe src="https://www.youtube.com/embed/ZNMRxPN2_OU" title="YouTube video" allowfullscreen></iframe>
      </div>
    </div>

    <div class="logo-container">
      <img src="../../../assets/landing/icono-multiplo.png" alt="Multiplo" loading="lazy" class="multiplo-logo">
    </div>
  </div>

  <!-- Title 2 -->
  <div class="title-2-container">
    <img src="../../../assets/landing/separador-white-space.png"
      alt="Somos la plataforma lider de financiamiento colectivo" loading="lazy" class="title-2-background">
        <div class="span-container">
          <span class="">Somos la plataforma lider de  <br><strong>Financiamiento colectivo</strong> </span>
        </div>
        <div class="subtitle-container">
          <span class="">Llegamos a Ecuador para <strong>multiplicar ganancias</strong> <br>a la vida de todos</span>
        </div>
  </div>

</section>


<!--div class="about-us-container">
  <div class="circle-background"></div>
  <div class="title-container">
    <div class="title-about-us">
      <h2 class="title">¿Quienes somos?</h2>
    </div>
  </div>
</div>

<div class="video-logo-container">
    <div class="video-container">
      <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/ZNMRxPN2_OU" title="YouTube video" allowfullscreen></iframe>
        </div>
    </div>

    <div class="logo-container">
        <h1>LOGO</h1>
    </div>

</div-->
