
<div class="about-us-container">
    <div class="circle-background"></div>
    <div class="title-container">
        <div class="title-about-us">
            <h2 class="title">¿Quienes somos?</h2>
        </div>
    </div>
    <div class="container logo-video">
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>Video</p>
            </div>
            <div class="col-12 col-sm-6">
                <p>Logo</p>
            </div>
        </div>
    </div>
</div>