.title-container {
  position: relative;
  max-height: 120px;
  height: 12vw;
  min-height: 48px;
}

.title-background {
  width: 70%;
  max-width: 800px;
  min-height: 48px;
  max-height: 113px;
  position: absolute;
  right: 0;
}

.title {
  position: absolute;
  width: 60%;
  max-width: 600px;
  right: 0;
  top: 0;
}

.title h4 {
  font-size: 2rem;
  font-weight: 700;
}

.subtitle {
  position: absolute;
  width: 62%;
  max-width: 600px;
  right: 0;
  top: 55px
}

.subtitle span {
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}


/* DESKTOP RESPONONSIVE */
@media (max-width: 1100px) {
  .title {
    top: 5px;
  }

  .title h4 {
    font-size: 1.5rem;
  }

  .subtitle {
    top: 4vw;
  }

  .subtitle span {
    font-size: 1.5rem;
  }
}


.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.btn-steps-registrate {
  color: white;
  background-color: #004889;
  font-weight: 600;
  font-size: 15px;
  padding: 0.3rem 2.5rem;
  z-index: 10;
  font-family: 'Gill Sans MT';
  letter-spacing: 0.1rem;
}


.btn-steps-registrate:hover {
  background-color: #223262;
  cursor: pointer;
}

.btn-border {
  background-color: transparent;
  border: 1px solid #000000;
  position: absolute;
  width: 162px;
  height: 35px;
  top: 4px;
  border-radius: 3px;
  left: calc(50% - 4px);
  transform: translate(-50%, 0);
}



@media (max-width: 600px) {
  .title h4 {
    font-size: 1rem;
  }

  .subtitle span {
    font-size: 2.5vw;
  }
}

/* MOBILE RESPONONSIVE */
@media (max-width: 480px) {
  .title-container {
    height: 10vw;
  }

  .title {
    top: 0;
  }

  .title h4 {
    font-size: 3.5vw;
  }

  .subtitle {
    position: absolute;
    width: 62%;
    max-width: 600px;
    right: 0;
    top: 1rem;
  }

  .subtitle span {
    font-size: 2.5vw;
  }
}
