<section id="HowDidWeDoIt" class="mb-5" style="position: relative;">
  <!-- Como lo logramos? -->
  <div class="title-container">
    <img src="../../../assets/landing/separator-space-top.png" alt="¿Como lo logramos?" loading="lazy"
      class="title-background">
    <div class="title">
      <h4>¿Como lo logramos?</h4>
    </div>
    <div class="subtitle">
      <span>A través de nuestra propuesta de valor:</span>
    </div>
  </div>
  <!-- Value proposition -->
  <div class="proposition-container container mt-4">
    <div class="row justify-content-center">
      <div class="proposition-element col-md-4 text-center">
        <div class="proposition-image">
          <img src="../../../assets/images/home/logramos/1.png" alt="">
        </div>
        <div class="proposition-description">
          <span>
            Creemos en la <strong>redistribución</strong> de la riqueza, al desintermediar a los <strong>participantes
              bancarios tradicionales.</strong>
          </span>
        </div>
      </div>

      <div class="proposition-element col-md-4 text-center">
        <div class="proposition-image">
          <img src="../../../assets/images/home/logramos/2.png" alt="">
        </div>
        <div class="proposition-description">
          <span>
            Nuestras <strong>oportunidades</strong> de inversion son <strong>transparentes, ágiles, eficientes y
              flexibles.</strong>
          </span>
        </div>
      </div>

      <div class="proposition-element col-md-4 text-center">
        <div class="proposition-image">
          <img src="../../../assets/images/home/logramos/3.png" alt="">
        </div>
        <div class="proposition-description">
          <span>
            Nuestros <strong>Multiplolenders</strong> encuentran carteras de inversión <strong>equilibradas,
              diversificadas</strong> y con <strong>rentabilidad superior.</strong>
          </span>
        </div>
      </div>

      <div class="proposition-element col-md-4 text-center">
        <div class="proposition-image">
          <img src="../../../assets/images/home/logramos/4.png" alt="">
        </div>
        <div class="proposition-description">
          <span>
            Retribuimos a la sociedad con programas de <strong>empoderamiento financiero</strong> a los jóvenes, quienes
            serán futuros <strong>trainees</strong> a través de las <strong>empresas afiliadas.</strong>
          </span>
        </div>
      </div>

      <div class="proposition-element col-md-4 text-center">
        <div class="proposition-image">
          <img src="../../../assets/images/home/logramos/5.png" alt="">
        </div>
        <div class="proposition-description">
          <span>
            Nuestros objetivos de gestión incluyen el número de nuevos <strong>empleos generados por año</strong>,
            financiando empresas en crecimiento con <strong>liquidez eficiente.</strong>
          </span>
        </div>
      </div>
      <div class="col-12 text-center mt-5">
        <!-- BUTTON Registrate -->
        <div class="btn-container">
          <button class="btn btn-steps-registrate">Regístrate</button>
          <div class="btn-border"></div>
        </div>
      </div>
    </div>
  </div>

    <div class="steps-separator">
    </div>
</section>
